  <div class="row">
    <label  for="selectSh">Choose a shape:
      <select
        name="selectSh"
        id="selectSh"
        [(ngModel)]="selected"
        (change)="onSelectShape()">
          <option  *ngFor="let shape of shapess" [ngValue]="shape"> {{ shape.text }}</option>
      </select>
    </label>
    <button class="btn btn-primary" routerLink="/create" >Create new shape</button>
    <div class="row">
      <div class="col-md-7">
        <app-canvas [selectedShape]="selected"></app-canvas>
      </div>
      <div class="col-md-5">
        <app-shape-detail
          [selectedShape]="selected"
          (updatedShape)="updateShape($event)">
        </app-shape-detail>
      </div>
    </div>
  </div>
