  <div class="row">
    <label  for="selectSh">Choose a shape:
      <select
        name="selectSh"
        id="selectSh"
        [(ngModel)]="selectedId"
        (change)="onSelectShape($event.target.value)" >
          <option disabled selected value style="display:none"></option>
          <option *ngFor="let shape of shapess" [value]="shape._id">{{ shape.text}}</option>
      </select>
    </label>
    <button class="btn btn-primary" routerLink="/create" >Create new shape</button>
    <div class="row">
      <div class="col-md-8">
        <app-canvas #canvasComp></app-canvas>
      </div>
      <div class="col-md-4">
        <app-shape-detail
          #shapeDetail
          (updatedShapeRectangle)="updateShape($event)"
          (updatedShapeCircle)="updateShape($event)">
        </app-shape-detail>
      </div>
    </div>
  </div>
