input::placeholder{
  color: rgb(36, 24, 204);
  font-weight: normal;
}

#colorPicker{
  width: 70px;
}

input{
  margin-left: 5px;
 }

.panel {
  margin: 5px !important;
  padding:0 !important;
}

label{
  margin-top: 10px;
}

/* label {
  float: left;
}

span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
} */
