<div id="detailComp">
  <h5>Shape detail:</h5>
  <hr>
  <form name="updateForm" (ngSubmit)="onSubmitUpdate()">

  <div *ngFor="let shape of arrayShape">
    <div *ngIf="shape.propertyType == 'text'">
      <app-text-component
        (updateText)="textUpdating($event)"
        [propertyTitle]="shape.propertyTitle"
        [propertyValue]="shape.propertyValue">
      </app-text-component>
    </div>
    <div *ngIf="shape.propertyType == 'number'">
      <app-number-component
        (updateNumber)="numberUpdating($event)"
        [propertyTitle]="shape.propertyTitle"
        [propertyValue]="shape.propertyValue">
      </app-number-component>
    </div>
    <div *ngIf="shape.propertyType == 'color'">
      <app-color-component
        (updateColor)="colorUpdating($event)"
        [propertyTitle]="shape.propertyTitle"
        [propertyValue]="shape.propertyValue">
      </app-color-component>
    </div>
  </div>
  <div *ngIf="_selectedShape">
    <hr>
    <button class="btn btn-primary" type="submit" >Save changes</button>
  </div>
</form>
</div>
