#dropdown{
  margin-top: 25px;
}

input::placeholder{
  color: rgb(36, 24, 204);
  font-weight: normal;
}

/* .panel-body{
  height: 65px;
} */
/*
.positionDiv{
  display: inline-block;
}
div label {
  display: block;
} */

#colorPicker{
  width: 70px;
}
