#detailComp{
  margin-top: 4px;
}

input::placeholder{
  color: rgb(36, 24, 204);
  font-weight: normal;
}

#colorPicker{
  width: 70px;
}

h5{
   font-weight: bold;
 }

input{
  margin-left: 5px;
 }

.panel {
  margin: 5px !important;
  padding:0 !important;
  /*border: none !important;*/
}

/* .panel-body{
  padding-bottom: 5px !important;
  padding-left: 5px !important;
} */
