<div id="dropdown">
<div class="panel panel-default">
  <div class="panel-heading"><strong>ID:</strong></div>
  <div class="panel-body">
    <p *ngIf="selectedShape">{{ selectedShape.id }}</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Text:</strong></div>
  <div class="panel-body">
    <input
      *ngIf="selectedShape"
      type="text"
      class="form-control"
      (input) = "onChangeShapeText($event)"
      placeholder="{{ selectedShape.text }}">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><strong> Color:</strong></div>
  <div class="panel-body">
    <input
      *ngIf="selectedShape"
      type="color"
      id="colorPicker"
      class="form-control"
      (input) = "onChangeShapeColor($event)"
      value="{{ selectedShape.color }}">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><strong> Position:</strong></div>
  <div class="panel-body">
      <table>
        <tr>
            <td>X:</td>
            <td><input
                *ngIf="selectedShape"
                name="xBegin"
                type="number"
                class="form-control"
                (input) = "onChangeXBegin($event)"
                placeholder="{{ selectedShape.position.xBegin }}">
            </td>
        </tr>
        <tr>
            <td>Y:</td>
            <td><input
                *ngIf="selectedShape"
                name="yBegin"
                type="number"
                class="form-control"
                (input) = "onChangeYBegin($event)"
                placeholder="{{ selectedShape.position.yBegin }}">
            </td>
        </tr>
        <tr>
            <td>Width:</td>
            <td><input
                *ngIf="selectedShape"
                name="rectWidth"
                type="number"
                class="form-control"
                (input) = "onChangeRectWidth($event)"
                placeholder="{{ selectedShape.position.rectWidth }}">
            </td>
        </tr>
        <tr>
            <td>Height:</td>
            <td><input
                *ngIf="selectedShape"
                name="rectHight"
                type="number"
                class="form-control"
                (input) = "onChangeRectHeight($event)"
                placeholder="{{ selectedShape.position.rectHeight }}">
            </td>
        </tr>
      </table>
  </div>
</div>
</div>
